@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Collège Lionel-Groulx<br />
    100 rue Duquet<br />
    <abbr title="Phone">P:</abbr>
    (450) 430-3120
</address>

<address>
    <strong>Antoine Latendresse :</strong>   <a href="a.latendresse2@hotmail.com">a.latendresse2@hotmail.com</a><br />
    <strong>Simon Roy :</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>